<!--- CPU发展历程时间轴 --->
<script type="text/javascript">
	function addStyle(file){
		$('head').append('<link href=' + file + ' rel="stylesheet" type="text/css">')
	}
	addStyle("css/timeline_style.css");
	addStyle("css/simple_style.css");
</script>

<div id="timeline">
	<ul id="dates">
		<li><a href="#1971">1971</a></li>
		<li><a href="#1972">1972</a></li>
		<li><a href="#1974">1974</a></li>
		<li><a href="#1978">1978</a></li>
		<li><a href="#1982">1982</a></li>
		<li><a href="#1985">1985</a></li>
		<li><a href="#1989">1989</a></li>
		<li><a href="#1992">1992</a></li>
		<li><a href="#1996">1996</a></li>
		<li><a href="#1997">1997</a></li>
		<li><a href="#1999">1999</a></li>
		<li><a href="#2000">2000</a></li>
	</ul>
	<ul id="issues">
		<li id="1971">
			<img src="images/timeline/1.jpg" width="256" height="256" />
			<h1>1971</h1>
			<p>1971年11月15日，Intel公司的工程师霍夫发明了世界上第一个商用微处理器—4004，从此这一天被当作具有全球IT界里程碑意义的日子而被永远的载入了史册。这款4位微处理器虽然只有45条指令，每秒也只能执行5万条指令，运行速度只有108KHz，甚至比不上1946年世界第一台计算机ENIAC。但它的集成度却要高很多，集成晶体管2300只，一块4004的重量还不到一盅司。这一突破性的发明最先应用于Busicom计算器，为无生命体和个人计算机的智能嵌入铺平了道路。</p>
		</li>
		<li id="1972">
			<img src="images/timeline/2.jpg" width="256" height="256" />
			<h1> 1972</h1>
			<p>1972年英特尔推出其8008微处理器时，业内的目光都几乎集中到了英特尔身上。8008频率为200KHz，晶体管的总数已经达到了3500个，能处理8比特的数据。更为重要的是，英特尔还首次获得了处理器的指令技术。8008它的性能是4004的两倍，拥有3500晶体管数量，速度为200KHz，并且于1974年被一款名为Mark-8的设备采用，Mark-8是第一批家用计算机之一，此时台式机基本上形成了一个最初雏形。</p>
		</li>
		<li id="1974">
			<img src="images/timeline/3.jpg" width="256" height="256" />
			<h1> 1974</h1>
			<p>英特尔公司于1974年推出了这款划时代的处理器，立即引起了业界的轰动。由于采用了复杂的指令集以及40管脚封装，8080的处理能力大为提高，其功能是8008的10倍，每秒能执行29万条指令，集成晶体管数目6000，运行速度2MHz。8080有幸成为了第一款个人计算机Altair的大脑。计算机爱好者花费395美元即可购得Altair套件。数月内，Altair的销售量达到数万台，造成了电脑销售历史上第一次缺货现象。这足以看出来8080对于电脑发展是具有划时代意义的。</p>
		</li>
		<li id="1978">
			<img src="images/timeline/4.jpg" width="256" height="256" />
			<h1> 1978</h1>
			<p>1978年，英特尔推出了首枚16位微处理器8086，同时生产出与之配合的数学协处理器8087，这两种芯片使用相同的指令集，以后英特尔生产的处理器均对其兼容。趁着市场销售正好的时机以及市场需求的提升，Intel在同年推出了性能更出色的8088处理器。三款处理器都拥有29000只晶体管，速度可分为5MHz、8MHz、10MHz。同时Intel成功将8088销售给IBM全新的个人计算机部门，1981年，IBM推出的首批个人电脑机选用了8088芯片，使得8088成为了IBM全新热销产品IBM PC的大脑。</p>
		</li>
		<li id="1982">
			<img src="images/timeline/5.jpg" width="256" height="256" />
			<h1> 1982</h1>
			<p>1982年2月1日英特尔80286上市，这是英特尔的最后一块16位处理器，具备16位字长，集成了14.3万只晶体管，具有6MHz、8MHz、10MHz、12.5MHz四个主频的产品。造成个人电脑的风行，在发布后的六年中，全球286的个人电脑一共出货了一千五百万台。它除了改善了一些指令的执行速度，同时也增加最大内存支持到 16 MB。</p>
		</li>
		<li id="1985">
			<img src="images/timeline/6.jpg" width="256" height="256" />
			<h1> 1985</h1>
			<p>Intel 80386是第一款用于个人电脑的32位中央处理器，集成了27万5千只晶体管，超过了4004芯片的一百倍，每秒可以处理500万条指令。同时也是第一款具有“多任务”功能的处理器，这对微软的操作系统发展有着重要的影响。</p>
		</li>
		<li id="1989">
			<img src="images/timeline/7.jpg" width="256" height="256" />
			<h1> 1989</h1>
			<p>1989年，英特尔发布了80486处理器，集成了125万个晶体管，时钟频率由25MHz逐步提升到33MHz、40MHz、50MHz及后来的100Mhz。486处理器的应用意味着用户从此摆脱了命令形式的计算机，进入“选中并点击(point-and-click)”的计算时代。史密森学会美国历史国家博物馆的技术历史学家David K. Allison回忆道：“当时我拥有了彩色计算机，并且以很快的速度进行桌面排版工作。”486处理器首次采用内建的数学协处理器，从而显著加快了计算速度。</p>
		</li>
		<li id="1992">
			<img src="images/timeline/8.jpg" width="256" height="256" />
			<h1> 1992</h1>
			<p>Intel Pentium处理器是Intel公司在1992年10月发布的第五代微处理器系列，该产品在1993年3月正式推向市场：Pentium处理器与以前的Intel公司处理器完全兼容，并有新的内容。值得一提的是奔腾处理器中有两条数据流水线，可以同时执行两条指令，Intel公司把这种同时执行两条指令的能力称为超标量技术。该技术使奔腾处理器能以每周期两条指令的速率更快地工作。</p>
		</li>
		<li id="1996">
			<img src="images/timeline/9.jpg" width="256" height="256" />
			<h1> 1996</h1>
			<p>Intel Pentium MMX处理器于1997年1月8日面向市场发布，等于是Pentium的加强版中央处理器，除了增加67个MMX（Multi-Media eXtension）指令以及64位数据总线之外，也将指令缓存和数据缓存从之前的8KB增加到16KB，内部工作电压降到2.8V。从这以后，英特尔的桌上型中央处理器皆包含了MMX指令。</p>
		</li>
		<li id="1997">
			<img src="images/timeline/10.jpg" width="256" height="256" />
			<h1> 1997</h1>
			<p>Intel Pentium II处理器于1997年5月7日推出。第一款具有Klamath内核的Pentium II拥有750万个晶体管、512 KB L2高速缓存，并使用0.35微米生产工艺制造。Pentium II内核基于Pentium Pro内核，但经过优化以显着加快运行16位代码的速度。它还支持Pentium MMX引入的MMX指令集扩展。采用Deschutes内核的第二代Pentium II处理器采用0.25微米生产工艺制造。基于新的工艺，从PII 350开始实现了100MHz的FSB而不是之前习惯的6MHz。</p>
		</li>
		<li id="1999">
			<img src="images/timeline/11.jpg" width="256" height="256" />
			<h1> 1999</h1>
			<p>Intel Pentium III处理器于1999年2月推出。第一款具有Katmai内核的Pentium III拥有950万个晶体管，一个512KB L2高速缓存，以1/2处理器时钟工作，制造工艺为0.25微米。使用100MHz 或133 MHz的FSB实现了从450到600MHz的时钟速率。以Coppermine为核心的Pentium III于1999年10月推出，凭借显着改进的架构，采用0.13微米生产工艺制造，256 KB L2高速缓存以全处理器时钟工作，PIII处理器首次超过了1GHz大关。</p>
		</li>
		<li id="2000">
			<img src="images/timeline/12.jpg" width="256" height="256" />
			<h1> 2000</h1>
			<p>Intel Pentium 4是英特尔公司于2000年11月发布的第7代x86微处理器，基于全新开发的“NetBurst”微架构。最初拥有4200万个晶体管，除了之前使用的MMX和SSE指令集外，还新增了144个新的SSE2指令。</p>
		</li>
	</ul>
</div>
<script src="js/jquery.timelinr-0.9.4.js" type="text/javascript"></script>
<script type="text/javascript">$(function(){$().timelinr({autoPlay:'true',autoPlayDirection:'forward',startAt:1,autoPlayPause:6000 })	});</script>

<!--- 幻灯片展示（用手机浏览时呈现） --->
<script type="text/javascript" src="js/simple_swiper.js"></script>
<div id="swiper-demo" class="simple-swiper-container">
	<a id="sprev" class="btn btn-prev"></a>
	<a id="snext" class="btn btn-next"></a>
	<div class="pagination"></div>
</div>

<script src="js/current-device.min.js" type="text/javascript"></script>
<script type="text/javascript">
	if(device.mobile()){
		var t = document.getElementById('timeline');
		t.style.display = 'none';

		new SimSwiper("#swiper-demo", {
			autoplay: 4500,
			duration: 300,
			easing: 'ease',
			button: {
				prev: "#sprev",
				next: "#snext"
			},
			pagination: {
				el: '.pagination'
			},
			data: [{
				index: 1,
				href: 'javascript:void(0)',
				src: 'images/swiper/t1.jpg'
			}, {
				index: 2,
				href: '#',
				src: 'images/swiper/t2.jpg'
			}, {
				index: 3,
				href: 'javascript:void(0)',
				src: 'images/swiper/t3.jpg'
			}, {
				index: 4,
				href: 'javascript:void(0)',
				src: 'images/swiper/t4.jpg'
			}]
		});
	}
	else{
		var t = document.getElementById('swiper-demo');
		t.style.display = 'none';
	}
</script>